rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /clientes/{clienteId} {
      allow read, write: if true == true;
      // allow write: if request.token.admin == true;
    }
    
    match /tasks/{taskId} {
     allow read, write: if true == true;
    }
    
  }
}